<% content_for :title, "Users" %>

<h1>
  Users
  <small>
    <%= link_to new_identity_path, title: "Create a new user" do %>
    <span class="fa fa-plus-square-o"></span>
  <% end %>
  </small>
</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>Description</th>
      <th></th>
    </tr>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
