<% content_for :title, "Users" %>

<h1>Users</h1>

<div class="row hide-for-small div-header">
  <div class="medium-3 columns">
    Email
  </div>
  <div class="medium-4 columns">
    description
  </div>
  <div class="medium-5 columns">
    Roles
  </div>
</div>

<div class="users-list no-bullet">
  <%= render @users %>
</div>
