<% content_for :title, "Users" %>

<h1>
  Users
  <small>
    <%= link_to new_identity_path, title: "Create a new user" do %>
    <span class="fa fa-plus-square-o"></span>
  <% end %>
  </small>
</h1>

<div class="row hide-for-small div-header">
  <div class="medium-3 columns">
    username
  </div>
  <div class="medium-4 columns">
    description
  </div>
  <div class="medium-2 columns">
    roles
  </div>
  <div class="medium-3 columns">
    <p></p>
  </div>
</div>

<div class="users-list no-bullet">
  <%= render @users %>
</div>
