<% content_for :title, "Users" %>
<h1>Users</h1>

<div class="row hide-for-small div-header">
  <div class="medium-5 large-5 columns">
    name
  </div>
  <div class="medium-2 large-2 columns">
    roles
  </div>
  <div class="large-2 columns hide-for-medium-down">
    company
  </div>
  <div class="medium-5 large-3 columns">
    description
  </div>
</div>

<div class="div-list">
  <%= render @users %>
</div>
