<% content_for :title, "Users" %>
<h1>Users</h1>

<div class="row hide-for-small div-header">
  <div class="medium-6 columns">
    name
  </div>
  <div class="medium-6 columns">
    description
  </div>
</div>

<div class="div-list">
  <%= render @users %>
</div>
