@import "foundation_and_overrides";
@import "globals/all";

.div-header {
  padding: 3px 0px 1px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid $aluminum;
  color: $aluminum;
}

.div-list {
  a {
    text-decoration: none;
    color: $jet;
  }
  .row {
    padding-top: 5px;
    border-bottom: 1px solid $smoke;
  }
  .row:nth-child(even) {
    background: $snow;
  }
}
