<%= link_to edit_role_path(role) do %>
  <li class="row">
    <div class="small-11 medium-12 columns">
      <%= role.name %>
    </div>
    <div class="small-1 columns text-right show-for-small-only">
      <span class="fa fa-angle-right"></span>
    </div>
  </li>
<% end %>
